{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/welcome.css' %}">
    <title>FileGo</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="website-name">ToyShop</h1>
        </div>
    </header>
    <main>
        <section class="welcome">
            <h2>Welcome to ToyShop!</h2>
            <div>
                <a href="{% url 'users:register' %}" class="btn btn-sing-in">{{ text.sing_in }}Sing in</a>
                <a href="{% url 'users:login' %}" class="btn btn-log-in">{{ text.log_in }}Log In</a>
            </div>
        </section>
    </main>
    <footer>
        <p class="footer-text">This website was made by me.</p>
    </footer>
</body>
</html>