{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'users/css/users_style.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <form method="post" class="my-form">
      <h2 class="form-title">Edit Preferences</h2>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
      {% for f in form %}
      <div class="form-group">
          <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
          {{ f }}
          {% if f.errors %}
          <div class="error">
          {% for error in f.errors %}
              <p>- {{ error }}</p>
          {% endfor %}
          </div>
          {% endif %}
      </div>
      {% endfor %}
      <div class="form-group">
          <button type="submit" class="form-button">Save</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
