{% extends 'base.html' %}
{% load static %}
{% load get_only_file_name %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'posts/css/post_creation.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <h1>Edit Your Post</h1>
            <form id="postForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <!-- Title -->
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>

                <!-- Privacy -->
                <div class="form-group">
                    <label for="{{ form.is_published.id_for_label }}">{{ form.is_published.label }}</label>
                    {{ form.is_published }}
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                    {{ form.content }}
                </div>

                <!-- File Upload -->
                <div class="form-group">
                    <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
                    {{ form.file }}
                    <div id="fileDropZone" class="drag-drop">
                        Drag and drop your file here or click below to upload
                    </div>
                    <button type="button" id="addFileBtn" class="btn-add-file">Add a File</button>
                    <p id="fileName" class="file-name"></p>
                </div>

                <!-- Submit Buttons -->
                <div class="btn-del-edit-conteiner">
                    <button type="submit" class="btn-submit">Edit Post</button>
                    <a onclick="confirmFormSubmission(event)" href="{{ post.get_delete_url }}" class="btn-delete">Delete Post</a>
                </div>
            </form>
        </div>
        <script>
            function confirmFormSubmission(event) {
            const userConfirmed = confirm("Are you sure that you want delete this post?");
            if (!userConfirmed) {
                event.preventDefault();
            }
        }
        </script>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'posts/js/post_creation.js' %}"></script>
{% endblock %}